<div class="flex flex-col bg-body dark:bg-darkmode-body content-between gap-y-4">
  <div class="">
    {{ $image:= .Params.image }}
    {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
    {{ end }}
  </div>
  <div class="flex flex-col">
    <div>
      <h4 class="">
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </h4>
    </div>
    <div>
      <p class="italic">{{ .Params.lead }}</p>
    </div>
  </div>
  <div class="">
    {{ $categories:= .Params.categories }}
    {{ if $categories }}
    <ul class="">
      <li class="mr-4 inline-block">
        <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/" class="text-sm text-sky-800">
          <i class="fa-regular fa-circle-user mr-2 text-sky-800"></i>{{ .Params.author }}
        </a>
      </li>
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1 text-sky-800"></i>
        {{ range $i,$p:= $categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="text-sm text-sky-800">{{ . |
          humanize }}{{ if ne $i
          (sub (len $categories) 1) }}
          {{- "," }}
          {{ end }}
        </a>
        {{ end }}
      </li>
      <li class="mr-4 inline-block">
        <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/" class="text-sm text-sky-800">
          <i class="fa-regular fa-clock mr-2 text-sky-800"></i>{{ time.Format ":date_long" .PublishDate }}
        </a>
      </li>
    </ul>
    {{ end }}
  </div>
  <div class="flex flex-col gap-y-2">
    <div class="">
      <p class="">{{ .Summary | plainify }}</p>
    </div>
    <div class="flex flex-row justify-end">
      <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
        {{ T "read_more" }}
      </a>
    </div>
  </div>
</div>