{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
    <div class="container flex flex-col gap-y-2">
        <div class="">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto" "Size" "3786x596" ) }}
        </div>
        <div class="justify-center mb-8 text-center flex flex-col">
            <div class="flex flex-col mb-8">
                <h1 class="text-h3 lg:text-h1 tracking-wide uppercase">
                    {{ .title | markdownify }}
                </h1>
                <p class="font-semibold text-lg uppercase">
                    {{ .content | markdownify }}
                </p>
            </div>
            {{ with .button }}
            {{ if .enable }}
            <div class="">
                <a class="btn btn-primary m-auto" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener" {{ end }}>
                    {{ .label }}
                    <i class="fa fa-arrow-right pl-2"></i>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
<!-- /Banner -->

{{ end }}